<div class="container">

  <div class="row">
    <div class="col s12">
      <div class="player-container">
        <h4 class="header">Players</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>              
              <th>UTR #</th>
              {{!-- <th>See Player's Posts</th> --}}
              <th>Edit Player</th>
              <th>Delete Player</th>
            </tr>
          </thead>
          <tbody>
            {{#each players}}
            <tr>
              <td><a href="/player/profile/{{id}}">{{fullName}}</a></td>
              <td>{{utrRating}}</td>
              <td><a class="btn-floating btn-small teal" href="/player/edit/{{id}}"><i class="material-icons edit-player" data-id={{id}}>edit</i></a></td>
              <td><a class="btn-floating btn-small red "><i class="material-icons delete-player" data-id={{id}}>delete</i></a></td>
              
            </tr>
            {{/each}}

          </tbody>
        </table>

        <p class="center-align">
          <a href="/player/new" class="btn tooltipped btn-floating btn-small waves-effect waves-light teal"
            data-tooltip="Add new player"><i class=" material-icons">add</i></a>
        </p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function () {

    // get the coach id - currently logged-in
    var url = window.location.href;
    const lastItem = url.substring(url.lastIndexOf('/') + 1)
    
    // get the user logged in 
    getUserLoggedIn();

    function getUserLoggedIn() {
      $.get("/api/user_data").then(function (data) {
        var userId = data.roleId;
      });   
    }



  // Event handler to delete player
  //========================================================
  $(".delete-player").on("click", function (event) {
    event.preventDefault();
    const id = $(this).attr("data-id");
    console.log("deleted player id: " + id);
    $.ajax({
      method: "DELETE",
      url: "/api/player/" + id
    }).done((response) => {

      console.log(response);
      if (response.success) {
        alert(response.message);
        location.reload();
      }

    });

  });

  // Event handler to get posts specific to player and coach
  //=====================================================
  $("#goto-posts").on("click", function (event) {
    const id = $(this).attr("data-id");
    $.ajax({
      url: `/api/posts/${id}/${lastItem}`,
      method: "GET",

    }).then(function () {

    });


  });



  });




</script>