<!-- Form Section -->
<div class="container">
    <div class="row" style="padding-top:30px; padding-bottom:0px">
        <div class="col s12">
            <!-- Change The Form Method From Here-->
            <div class="card-panel z-depth-5">
                <!-- Form Logo Section  -->
                <div class="hide" data-id="{{ustaId}}" id="usta-id"></div>
                <div class="row ">
                    <div class="col s12">

                        <h4 class="header">{{fullName}}</h4>
                        <h3> <img src="/assets/images/utr.png" alt="" class="responsive-img circle"
                                style="width:20px;">{{utrRating}}</h3>
                        <div class="row" id="player-feedback">
                            <div class="col s6">
                                <a class="btn-floating btn-small teal lighten-2 " href="/posts/{{id}}"><i
                                        class="material-icons " data-id={{id}}>dehaze</i></a>All Feedbacks</a>
                            </div>
                            <div class="col s6">
                                <a class="btn-floating btn-small teal lighten-2 " href="/post/{{id}}"><i
                                        class="material-icons " data-id={{id}}>add</i>Add Feedback</a>Add Feedback
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6">


        </div>

    </div>
    <div class="row">
        <div class="col s12">
            <!-- Change The Form Method From Here-->
            <div class="card-panel z-depth-5" style="padding-right:10px;padding-left:10px; padding-bottom:10px">
                <div>
                    <table>
                        <caption class="header">Recent Tornaments Results</caption>
                        <thead>
                            <tr>
                                <th scope="col">Tournament</th>
                                <th scope="col">Event</th>
                                <th scope="col">Round</th>
                                <th scope="col">Score</th>
                            </tr>
                        </thead>
                        <tbody id="player-results">
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>


</div>


<script type="text/javascript">

    $(document).ready(function () {

        var playerResults = $("#player-results");

        getUserLoggedIn();
        function getUserLoggedIn() {
            $.get("/api/user_data").then(function (data) {
                if(data.role ==="player")
                {
                      $("#player-feedback").addClass("hide");
                }
            });
        }
        getTournamentResults();


        function renderTournamentResults(results) {

            var color = true;


            var count = 0;
            if (results.length > 0) {

                for (var i = 0; i < results.length; i++) {
                    let roundCol = $("<td>");
                    let scoreCol = $("<td>");
                    let eventCol = $("<td>");
                    let resultRow = $("<tr>");
                    if (Array.isArray(results[i].event)) {

                        if (Array.isArray(results[i].event[0].match)) {

                            for (let m = 0; m < results[i].event[0].match.length; m++) {
                                resultRow = $("<tr>");
                                roundCol = $("<td>");
                                scoreCol = $("<td>");
                                eventCol = $("<td>");
                                resultRow.append($("<td>").text(results[i].tournamentname));
                                resultRow.append(eventCol.text(results[i].event[0].eventname));

                                resultRow.append(roundCol.text(results[i].event[0].match[m].round));
                                resultRow.append(scoreCol.text(results[i].event[0].match[m].score));
                                if (color === true) {
                                    resultRow.css("background-color", "#e0f2f1");

                                }
                                else {
                                    resultRow.css("background-color", "#80cbc4");

                                }
                                playerResults.append(resultRow);
                            }

                            if (color === true) {
                                color = false;
                            }
                            else {
                                color = false;
                            }

                        }
                        else {
                            resultRow.append($("<td>").text(results[i].tournamentname));
                            resultRow.append(eventCol.text(results[i].event[0].eventname));
                            resultRow.append(roundCol.text(results[i].event[0].match.round));
                            resultRow.append(scoreCol.text(results[i].event[0].match.score));
                            playerResults.append(resultRow);
                        }

                    }
                    else {
                        resultRow.append($("<td>").text(results[i].tournamentname));
                        resultRow.append(eventCol.text(results[i].event.eventname));
                        if (Array.isArray(results[i].event.match)) {
                            resultRow.append(roundCol.text(results[i].event.match[0].round));
                            resultRow.append(scoreCol.text(results[i].event.match[0].score));

                        }
                        else {
                            resultRow.append(roundCol.text(results[i].event.match.round));
                            resultRow.append(scoreCol.text(results[i].event.match.score));
                        }
                        playerResults.append(resultRow);
                    }

                    count++;
                    if (count == 5) {
                        break;
                    }

                }
            }
            else {

            }



        }

        function getTournamentResults() {
            const ustaId = $("#usta-id").attr("data-id");
            const playerId = 2;

            $.ajax({
                url: "/v1/usta/player/" + ustaId + "/results",
                method: "GET"

            }).then(function (results) {
                console.log(results);
                renderTournamentResults(results);
            });
        }




    });

</script>